<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usurios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


</head>
<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1>Registro</h1>
            <form action="/signup" method="post">
                <div class="form-group">
                    <label for="email">Ingrese su Email</label>
                    <input id="" class="form-control" type="text" name="username">
                </div>
                <div class="form-group">
                    <label for="pass">Ingrese su Contraseña</label>
                    <input id="" class="form-control" type="password" name="password">
                </div>
                <input type="submit" value="Guardar">
            </form>
        </div>
    </div>
    
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usurios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>
<body>
    <div class="container mt-3">
        <h1>Registro de Usuario</h1>
        <hr class="my-4">
        <div class="jumbotron">
            <h2>Registrarse</h2>
            <br>
            <form action="/signup" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="email">Ingrese su Email</label>
                    <input id="" class="form-control" type="text" name="username" required>
                </div>
                <div class="form-group">
                    <label for="pass">Ingrese su Contraseña</label>
                    <input id="" class="form-control" type="password" name="password" required>
                </div>
                <button class="btn btn-primary btn-lg">Registrar</button>
            </form>
        </div>
    </div>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro</h1>
    <form action="/signup" method="post">
        <input type="text" name="username" id="" placeholder="Tu User.."/>
        <input type="password" name="password" id="" placeholder="Tu Pass.."/>
        <input type="submit" value="Guardar">
    </form>
</body>
</html> -->